*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, SansSerif;
}

body{
    background-color: #13293D;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 75vh;
    height: 75vh;
    background: #E8F1F2;
    margin: 5px;
    padding: 20px 35px 10px;
    border-radius: 10px;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(5, auto);
    text-align: center;
}

h1, label{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.file-selector{
    grid-row: 2/5;
    background: rgba(0, 0, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
}

label{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
    cursor: pointer;
}


#file{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

::file-selector-button {
    display: none;
}


#enviar{
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgba(0, 0, 255, 0.1);;
}

#enviar:hover, .file-selector:hover{
    background-color: rgba(133, 25, 150, 0.1);
}

